.App {
  text-align: center;
  height: 100vh;
  background: #e9c9a0;
  -webkit-font-smoothing: subpixel-antialiased;
  /* -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  font-size: 11pt;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	display: none;
}

::-webkit-scrollbar-thumb {
  /* background-color: rgba(105, 95, 73, 0.447); */
	width: 30px;
}

.hidden {
  display: none;
}





.mainInput {
  position: absolute;
  background: transparent;
	border: 3px solid #ce3636;
  color: black;
  border-top: none;
	border-right: none;
	border-left: none;
	caret-color: red;
  font-weight: 800;
  height: 2.3vh;
  width: 20vh;
  font-size: 11pt;
  resize: none;
}

.mainInput:focus {
	outline: 0
}

::placeholder {
	font-weight: bold;
}




.text1 {
  position: absolute;
}

.textSpan {
  outline: 0;
  border: 2px solid transparent;
}

.textSpan:hover {
  border-color: black;
  cursor: pointer;
  padding: 1px;
}

.textSpan:focus {
  border: 2px solid black;
  padding: 1px;
  cursor: text;
}