.App {
  text-align: center;
  height: 100vh;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	display: none;
}

::-webkit-scrollbar-thumb {
  /* background-color: rgba(105, 95, 73, 0.447); */
  background-color: red;
	width: 30px;
}

.hidden {
  display: none;
}




.squareContainer {
}

.square {
  width: 1vw;
  height: 1vh;
  background: #E7E5DB;
  margin: 0;
  border: 1px solid black;
}

.mainInput {
  position: absolute;
  background: transparent;
	border: 2px solid black;
  color: black;
  /* border-top: none;
	border-right: none;
	border-left: none; */
	caret-color: black;
	font-weight: 800;
}

.mainInput:focus {
	outline: 0
}

::placeholder {
	font-weight: bold;
}




.text1 {
  position: absolute;
}